мhtml, body, #root {
    height: 100%;
}

.messages {
    overflow-y: scroll;
}
.login-block
{
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}
.login-block h1,.login-block h6
{
    font-family:Open Sans,sans-serif;
    color:#96a2b2;
    letter-spacing:1px
}
.login-block h1
{
    font-size:22px;
    margin-bottom:60px;
    margin-top:40px
}